h1{
  border-radius: 15px;
  text-align: center;
  font-family: serif;
}
body{
  background-color: ghostwhite;
}
.one{
  font-family: Courier New, monospace;
  font-style: italic;
  margin: 30px 0 0 0;
  color: purple;
}
.tests{
margin: 50px 0 0 0;
}
.sum{
  color: white;
}
#fist{
  background-color: cyan;
  border-radius: 10px;
  margin: 0 10px 10px 0;
}
.btn{
  background-color: cyan;
  color: black;
  border-radius: 10px;
  border: solid grey 2px;
  text-decoration: none;
}
fieldset{
  background: darkslateblue;
  color: red;
  border-radius: 20px;
}
h2{
  color: lavenderblush;
}
.mypic{
  width: 50px;
  border-radius: 20px;
}
footer{
  border: solid 1px grey;
  border-radius: 5px 5px 0 0;
  background: cornflowerblue;
  margin: 400px 0 0 0;
  text-align: center;
  padding: 0 0 30px 0;
}
figcaption{
  color: darkkhaki;
}
.Fb{
  text-decoration: none;
  color: white;
}











