body{
  background-color: ghostwhite;
  font-family: sans-serif;
}
h1{
  margin: 70px 0 0 0;
}
.h4{
  margin: 50px 0 0 0;
}
.intro{
  font-family: serif;
}
.intro2{
  margin: 7px 0 0 0;
}
.tag{
  color: gray;
  margin: 
}
.small{
  color: red;
}
small{
  color: darkgray;
  font-style: italic;
}
.ul1{
  color: olive;
}
.h4b{
  margin: 25px 0 0 0.5px;
}
footer{
  border-radius: 5px 5px 0 0;
  background: cornflowerblue;
  text-align: center;
  padding: 0 0 70px 0;
  color: white;
  margin: 400px 0 0 0;
}

button{
  color: white;
  border-radius: 5px;
  border-radius: 5px;
  font-weight: bold;
  padding: 10px 20px;
  background-color: purple;
  margin: 20px 0 0 0;
}
a:visited{
  coor: darkblue;
}
a:hover{
  color: pink;
}
a:active{
  color: blanchedalmond;
}
a{
  color: royalblue;
}
fieldset{
  border-radius: 0 50px 0 50px;
background-color: white;
  border: solid 0.5px red;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  color: white;
  border-radius: 5px;
  font-weight: bold;
}

.fb-btn {
  background-color: #3b5998;
  margin: 5px/* Facebook blue */
}

.mail-btn {
  background-color: #d44638;
  margin: 20px 5px 5px 5px;
  /* Gmail red */
}
.foot{
  margin: 20px 0 20px 0;
}

.projt{
  color: darkgray;
  font-style: italic;
}





